<h2>@ViewBag.Title</h2>

<p>
    Below is a list of my contemporary classical compositions:
    <ul>
        <li>Reverie (2009) for Flute, Clarinet in B-flat, Marimba, Violin and Cello. Approximate duration: 7 minutes, 30 seconds.</li>
        <li>
            Erosion (2011) for Two String Quartets. Approximate duration: 6 minutes. Winner of the 2011 Frederic Goossen Composition Prize.<br/>
            Recording available on <a href="https://soundcloud.com/stevenlamphear/erosion">SoundCloud</a>.
        </li>
        <li>
            Quantum Gravity (2011) for Electric Cello and Live Signal Processing. Approximate duration: 6 minutes, 30 seconds.<br/>
            Recording by Craig Hultgren available on <a href="https://soundcloud.com/stevenlamphear/quantum-gravity">SoundCloud</a>.
        </li>
        <li>
            Trajectory (2011) for Orchestra. Approximate duration: 4 minutes, 30 seconds.
        </li>
        <li>
            Q.E.D. (2012) for Piano, Violin, and Cello. Approximate duration: 7 minutes.<br/>
            This was my master's thesis, composed during my studies at the University of Alabama.
        </li>
    </ul>
    If you are interested in performing any of the above pieces, please send an email to <a href="mailto:scores@stevenlamphear.com">scores@stevenlamphear.com</a>.
</p>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")';return false;">Return to Main Page</button>
</p>