<h2>@ViewBag.Title</h2>

<p>
    Here is a list of selected chamber and orchestral works (click on the name of a piece for a full score):
    <ul>
        <li><a href="~/Content/scores/Lamphear - Reverie (2010) - Full Score.pdf">Reverie (2009) for Flute, Clarinet in B-flat, Marimba, Violin and Cello</a><br/>
            Approximate duration: 7 minutes, 30 seconds.</li>
        <li>
            <a href="~/Content/scores/Lamphear - Erosion (2011) - Full Score.pdf">Erosion (2011) for Two String Quartets</a><br/>
            Approximate duration: 6 minutes.<br/>
            Winner of the 2011 Frederic Goossen Composition Prize.<br/>
            Recording available on <a href="https://soundcloud.com/stevenlamphear/erosion" target="_blank">SoundCloud</a>.
        </li>
        <li>
            <a href="~/Content/scores/Lamphear - Quantum Gravity (2011).pdf">Quantum Gravity (2011) for Electric Cello and Live Signal Processing</a><br/>
            Approximate duration: 6 minutes, 30 seconds.<br/>
            Recording by Craig Hultgren available on <a href="https://soundcloud.com/stevenlamphear/quantum-gravity" target="_blank">SoundCloud</a>.
        </li>
        <li>
            <a href="~/Content/scores/Lamphear - Trajectory (2012) - Full Score.pdf">Trajectory (2011) for Orchestra</a><br/>
            Approximate duration: 4 minutes, 30 seconds.
        </li>
        <li>
            <a href="~/Content/scores/Lamphear - QED (2012) - Full Score.pdf">Q.E.D. (2012) for Piano, Violin, and Cello</a><br/>
            Approximate duration: 7 minutes.<br/>
            This was my Master's thesis, composed during my studies at the University of Alabama.
        </li>
    </ul>
    If you are interested in performing any of the above pieces, please send an email to <a href="mailto:scores@stevenlamphear.com">scores@stevenlamphear.com</a> for parts.
</p>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")';return false;">Return to Main Page</button>
</p>