<h2>@ViewBag.Title</h2>

<p>
    Since 2012, most of my development efforts have been part of Epic's (closed-source) code base. However, I have made a couple of recent "hobby" projects publicly available:
    <ul>
        <li><a href="https://github.com/slamphear/MLAI">MLAI</a>: I have recently begun implementing various machine learning algorithms in Java.</li>
        <li><a href="https://github.com/slamphear/stevenlamphear.com">stevenlamphear.com</a>: The source code for this site is available on GitHub.</li>
    </ul>
</p>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")';return false;">Return to Main Page</button>
</p>