<h2>@ViewBag.Title</h2>

<p>
    Since 2012, most of my development efforts have been part of Epic's (closed-source) code base. However, I have made a couple of recent "hobby" projects publicly available:
    <ul>
        <li>
            <a href="https://github.com/slamphear/MLAI" target="_blank">MLAI</a>: I have recently begun implementing various machine learning algorithms in Java. The eventual goal of this project
            is to allow many different machine learning algorithms to train using the same datasets, then create multi-approach ensembles using the various models. In that sense,
            this project will eventually be used as an open-source stacking classifier.
        </li>
        <li>
            <a href="https://github.com/slamphear/stevenlamphear.com" target="_blank">stevenlamphear.com</a>: The source code for my personal site (the one you're reading right now) is available
            on GitHub.
        </li>
    </ul>
</p>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")';return false;">Return to Main Page</button>
</p>