<div class="jumbotron">
    <div class="container">
        <div style="float:left" max-height=100% max-width=48%>
            <h1>Steven Lamphear</h1>
            <p class="lead">Developer. Composer. Performer.</p>
        </div>
        <div style="float:right" max-height=100% max-width=48%>
            <img src="~/Content/images/headshot.jpg" alt="Photo taken August 30th, 2014" style="max-width:100%;max-height:225px" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Developer</h2>
        <p>
            2012-Present: Software Developer at Epic (Verona, Wisconsin)<br />
            Master of Science: Computer Sciences (University of Wisconsin-Madison, 2017)
        </p>
        <p>
            <button class="btn btn-primary" onclick="location.href = 'https://github.com/slamphear'; return false;">Open-Source Projects</button>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Composer</h2>
        <p>
            Master of Music: Composition (University of Alabama, 2013)<br />
            Bachelor of Arts: Music Technology (The University of Alabama at Birmingham, 2007)
        </p>
        <p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Composer", "Home")';return false;">List of Works</button>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Performer</h2>
        <p>
            Multi-instrumentalist and singer/songwriter<br />
            Recording artist with two released albums
        </p>
        <p>
            <button class="btn btn-primary" onclick="location.href='https://stevenlamphear.bandcamp.com/';return false;">Recordings</button>
        </p>
    </div>
</div>