<h2>@ViewBag.Title</h2>

<p>
    The following albums of my music are available for purchase:
    <ul>
        <li><a href="http://www.amazon.com/Unreliable-Narrator-Steven-Lamphear/dp/B003DQOU4U/">The Unreliable Narrator</a> (2010): This is my only solo album to date, and the music lies somewhere
            between the "chamberpop" and "singer/songwriter" genres. A couple of tracks from this album ("So Many Roads" and "Momentum") can be heard on my
            <a href="https://soundcloud.com/stevenlamphear">SoundCloud</a> page. The full album is available for sale through all major digital retailers and streaming services, and physical copies
            can be purchased through <a href="http://www.amazon.com/Unreliable-Narrator-Steven-Lamphear/dp/B003DQOU4U/">Amazon</a>.</li>
        <li><a href="http://www.amazon.com/Awakening-Stream-Consciousness/dp/B000KP6RI4">Stream of Consciousness - Awakening</a> (2006): This was a progressive metal concept album that I wrote,
            arranged, recorded, and performed in around 2005-2006. This album is available through <a href="http://www.amazon.com/Awakening-Stream-Consciousness/dp/B000KP6RI4">Amazon</a> and
            <a href="http://www.cdbaby.com/cd/stofco">CD Baby</a>.</li>
    </ul>
</p>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")';return false;">Return to Main Page</button>
</p>