<h2>@ViewBag.Title</h2>

<p>
    The following albums of my music are available for purchase:
    <ul>
        <li><a href="http://www.amazon.com/Unreliable-Narrator-Steven-Lamphear/dp/B003DQOU4U/" target="_blank">The Unreliable Narrator</a> (2010): This is my only solo album to date, and the music lies somewhere
            between the "chamberpop" and "singer/songwriter" genres. A couple of tracks from this album (<a href="https://soundcloud.com/stevenlamphear/so-many-roads" target="_blank">So Many Roads</a> and
            <a href="https://soundcloud.com/stevenlamphear/momentum" target="_blank">Momentum</a>) can be heard on my <a href="https://soundcloud.com/stevenlamphear" target="_blank">SoundCloud</a> page. The full album can be
            streamed using the widget below. It is also available for sale through all major digital retailers and streaming services, and physical copies can be purchased through
            <a href="http://www.amazon.com/Unreliable-Narrator-Steven-Lamphear/dp/B01DJQ9VI8" target="_blank">Amazon</a>.<br/><br/>
            <object width="400" height="160">
                <param name="movie" value="http://widget.tunecore.com/swf/tc_run_h_v2.swf?widget_id=23285">
                <param name="allowFullScreen" value="true">
                <param name="allowscriptaccess" value="always">
                <embed src="http://widget.tunecore.com/swf/tc_run_h_v2.swf?widget_id=23285" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="400" height="160"></embed>
            </object><br/><br/>
        </li>
        <li><a href="http://www.cdbaby.com/cd/stofco" target="_blank">Stream of Consciousness - Awakening</a> (2006): This was a progressive metal concept album that I wrote,
            arranged, recorded, and performed in around 2005-2006. This album is available through <a href="http://www.amazon.com/Awakening-Stream-Consciousness/dp/B000KP6RI4" target="_blank">Amazon</a> and
            <a href="http://www.cdbaby.com/cd/stofco" target="_blank">CD Baby</a>.</li>
    </ul>
</p>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")';return false;">Return to Main Page</button>
</p>